{% extends 'base.html.twig' %}


{% block body %}




<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="show-article-container p-3 mt-4">

              <div class="row">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb ">
                    <li class="breadcrumb-item  " aria-current="page">Accueil</li>
                    <li class="breadcrumb-item active " aria-current="page">Portefolio</li>
                  </ol>
                </nav>
              </div>

               
              <div class="row">
                <div class="col-sm-12 brique"> 
                  <div class="row">
                    <div class="col-sm-9">
                      <h4 style="text-align: center;" >FORMATION</h4>
                        
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"> 2019-2020: Mastère expert développement WEB (Paris Ynov Campus) (inscrit)</li>
                          <li class="list-group-item"> 2019 : Formation en criminologie (école de criminologie forensique paris, France) (en cours)</li>
                          <li class="list-group-item">2016 : Licence en Analyste Programmeur (Ingénieur de Travaux Informatique).</li>
                          <li class="list-group-item">2011 : Baccalauréat C (Mathématiques) au Lycée Chaminade.</li>
                         
                        </ul>
                    </div>
                    <div class="col-sm-3" >
                      <br>
                      <div class="card" style="width:15rem;">
                        <img src="{{ asset('/images/books.jpg') }}" class="rounded float-right card-img-top" alt="..." >
                        <!-- <img src="{{ asset('/images/vwez.jpg') }}" alt="My picture"  class="card-img-top" > -->
                       <!--  <div class="card-body">
                          <h6 class="card-title"><b> </b> </h6>
                          
                        </div> -->
                      </div> 
                      
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-9" style="padding: 33px">
                      <h4 style="text-align: center;" >EXPERIENCES PROFESSIONNELLES</h4>
                        <p> <b>2018 - 3 mois : Développeur – LONGYR CONSULTING</b></p>
                        <ul>
                          <li>Développement d’une application web permettant de générer bilan fiscal </li>
                          <ul>
                            <li>Mission</li>
                              <ul>
                                <li>Développement Front HTML, CSS3</li>
                                <li>Développement Back PHP</li>
                              </ul>  
                            <li>Technologie : HTML, CSS3, Bootstrap, JavaScript, JQuery, PHP Objet, MYSQL,AJAX.</li>
                          </ul>  
                        </ul>
<!-- ################################## -->
                        <p> 
                          <b>Avril 2017 – Septembre 2018, 17 mois: Formateur UNESCO (projet Train My Generation) </b> <br>
                          <a href="http://www.unesco.org/new/fr/bureau-de-lunesco-a-libreville/projets-phares/train-my-generation/ ">http://www.unesco.org/new/fr/bureau-de-lunesco-a-libreville/projets-phares/train-my-generation/ </a>
                        </p>
                        <ul>
                          <li>Participation au projet « Train my generation: Gabon 5000» comme formateur stagiaire </li>
                          <ul>
                            <li>Mission</li>
                              <ul>
                                <li>Préparation de supports et de syllabus cours</li>
                                <li>Animation de cours</li>
                              </ul>  
                            <li>Modules enseignés : Logiciel utilitaire (Word, Excel, PowerPoint, Publisher), bases de donneés (Acces)</li>
                          </ul>  
                        </ul>
<!-- ################################## -->
                        <p> 
                          <b>2016 - 5 mois : Développeur (Stage) – DIGIP AFRIQUE </b>
                          (<a href="http://www.digipafrique.net ">http://www.digipafrique.net</a>)
                        </p>
                        <ul>
                          <li>Création d’un portail web d’information, d’appel d’offre et de messagerie pour DIGIP AFRIQUE. </li>
                          <ul>
                            <li>Mission</li>
                              <ul>
                                <li>Conception</li>
                                <li>Rédaction des spécifications techniques et fonctionnelles</li>
                                <li>Développement Front Javascript Jquery</li>
                                <li>Développement Back PHP</li>
                              </ul>  
                            <li>Technologie : HTML, CSS3, Bootstrap, JavaScript, JQuery, PHP Objet, MYSQL</li>
                          </ul>  
                        </ul>
<!-- ################################## -->
                        <p> 
                          <b>2015 - 4 mois : Développeur web (Stage) – Maison des Informaticiens au Congo (MIC) </b>
                        </p>
                        <ul>
                          <li>Mise en place d’une plateforme de communication au sein de la.MIC</li>
                          <ul>
                            <li>Mission</li>
                              <ul><li>Développement Back PHP</li></ul>  
                            <li>Technologie : HTML, CSS3, PHP Objet / MySQL</li> 
                            <li>Environnement technique : Windows, WampServer, FileZilla</li>
                          </ul>  
                        </ul>
                    </div>
                    <div class="col-sm-3">
                      <div class="card" style="width: 15rem;">
                        <div class="card-body">
                          <h6 class="card-title">Compétences fonctionnelles</h6>
                          <p class="card-text">
                            <ul>
                              <li>Gestion de projet (MS Project), UML</li>
                              <li>Capacités rédactionnelles (cahier des charges fonctionnelles, techniques, etc…)</li>
                            
                            </ul>
                          </p>
                        </div>
                      </div>

                      <div class="card text-center" style="width: 15rem;">
                        <div class="card-body">
                          <h6 class="card-title">Compétences techniques</h6>
                          <p class="card-text">
                            <ul>
                              <li>Langages de programmation : PHP, JavaScript, C++,Python.</li>
                              <li>Technologies web: HTML5/CSS3, Bootstrap3/4, JQuery, AJAX,REST API, NodeJS, ExpressJS, Twilio, JWT, NunJucks, Twig.</li>
                              <li>ORM : Mongoose, Sequelize.</li>
                              <li>Bases de données : MySQL, MongoDB (MongoDB ATLAS), Access.</li>
                          </p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                      </div>

                      <div class="card text-right" style="width: 15rem;">
                        <div class="card-body">
                          <!-- <h6 class="card-title">Special title treatment</h6> -->
                          <p class="card-text">
                            <ul>
                              <li><b>Framwork:</b>  Symfony, NodeJS.</li>
                              <li><b>Outils:</b>  Visual Studio Code,sublime text3</li>
                              <li> <b>Langues:</b> Anglais (Niveau B1)</li>
                            </ul>
                           
                           
                           
                          </p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                      </div>
                      
                     
                    </div>
                  </div>
                </div>
              </div>

                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}