{% extends 'base.html.twig' %}


{% block body %}




<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="show-article-container p-3 mt-4">
              <div class="row">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb ">
                    <li class="breadcrumb-item  " aria-current="page">Accueil</li>
                    <li class="breadcrumb-item active " aria-current="page">Les tutos</li>
                  </ol>
                </nav>
              </div>
                <div class="row">
                  <div class="col-sm-12">
                    <img src="{{ asset('/images/triangle.png') }}" class="rounded "  alt="..." style="width:100%; ; height:auto; ;" title="">
                  </div>
                </div>
                
            </div>
        </div>
    </div>
</div>





{% endblock %}